@charset "utf-8";
@import "/home/josh/Desktop/Github-IO-website/bulma/bulma.sass";

//styles.scss
    
body {
    background-color: $light;
    height: auto;
    transition: all 0.4s ease;
}


// Some styling 

body .subtitle,
body .title {
    color:   hsl(204, 71%, 39%);
}

body.dark {
    background-color:   hsl(0, 0%, 7%);
    color: hsl(204, 86%, 53%);
}

body.dark .subtitle,
body.dark .title {
    color: hsl(204, 86%, 53%);
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}


footer .subtitle,
footer .title {
    color:   hsl(204, 71%, 39%);
}

footer.dark {
    background-color:   hsl(0, 0%, 7%);
    color: hsl(204, 86%, 53%);
}

footer.dark .subtitle,
footer.dark .title {
    color: hsl(204, 86%, 53%);
}

button{
    cursor: pointer;
    border: none;
    color: $light;
    padding: .8rem;
    background: hsl(0, 0%, 7%);
    border-radius: 6px;
}

body.dark button {
    background: $light;
    color: hsl(204, 71%, 39%);
}